extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/facebook', style='color: #fff')
        .card(style='background-color: #3b5998')
          .card-body
            img(src='https://i.ibb.co/Bqz5jht/facebook-3383596-640.png', height=40, alt='Facebook')
            |  Facebook
    .col-sm-4
      a(href='/api/github', style='color: #fff')
        .card(style='background-color: #444')
          .card-body
            img(src='https://i.ibb.co/r2G5T6C/github-2582757-640.png', height=40, alt='GitHub')
            |  GitHub
